echo "GRUB :3" # For things that don't show "GRUB" at boot

insmod all_video
insmod png
insmod jpeg

color_normal=light-blue/black
menu_color_highlight=white/light-blue
menu_color_normal=white/black
timeout=5

if loadfont unicode ; then
  set gfxmode=auto
  insmod gfxterm

  terminal_input console
  terminal_output gfxterm
fi

background_image /boot/grub/background.png

initrd_locat="/boot/initrd.img"
catk_locat="/boot/catk"

menuentry "Start CatKernel :3" {
    echo "Loding CatKernel from ${catk_locat}..."    
    multiboot2 ${catk_locat} init=/init
    echo "Loading Ramdisk from ${initrd_locat}..."
    module2    ${initrd_locat}
    echo Booting
}

menuentry "Shutdown" {
    halt
}

menuentry "Reboot" {
    reboot
}

if [ "$grub_platform" = "efi" ]; then
  menuentry "UEFI Firmware Setup" {
      fwsetup
  }
fi
