echo "GRUB :3"

insmod all_video

color_normal=cyan/black
menu_color_highlight=white/cyan
menu_color_normal=cyan/black
timeout=5

menuentry "Start CatKernel :3" {
    echo -n "Cat..."
    multiboot2 /boot/catkernel.elf init=/init
}

menuentry "Start CatKernel :3 (verbose)" {
    echo "Loading catkernel.elf.."
    multiboot2 /boot/catkernel.elf init=/init verbose=true
    echo -n "Cat..."
}

menuentry "Start CatKernel using ramdisk" {
    echo -n "Cat..."
    multiboot2 /boot/catkernel.elf
    module2    /boot/ramdisk.gz
}

menuentry "Start CatKernel using ramdisk (verbose)" {
    echo "Loading catkernel.elf.."
    multiboot2 /boot/catkernel.elf verbose=true
    echo "Loading ramdisk.gz.."
    module2    /boot/ramdisk.gz
    echo -n "Cat..."
}

menuentry "Shutdown" {
	halt
}

menuentry "Reboot" {
	reboot
}

if [ "$grub_platform" = "efi" ]; then
  menuentry "UEFI Firmware Setup" {
      fwsetup
  }
fi
